.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-secondary-400 {
  background-color: var(--clr-secondary-400);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-secondary-500 {
  background-color: var(--clr-secondary-500);
}
